:root {
    color1: #fff;
    fonte_color: #FF9FC5;
    fundo_Blogin: #D9D9D9;
    footer: #96305A;
    fundo_Flogin: #602540;
    color2:#e27bb1;
}

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}